/* Print Styles */

@media print {
  #compare-slider {
    visibility: hidden;
  }
}

/* Common Styles */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
}

h1 {
  display: none;
}

#menu {
  right: 0;
}

.back-link {
  background: url(/media/sprites.svg#back) center left no-repeat;
  background-size: 16px 16px;
  padding-left: 20px;
  margin: 0 2px;
}

.compare {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

#compare-overlay {
  border-right: 4px solid rgba(128, 128, 128, 0.5);
  width: 50%;
}

.compare-frame {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
}

#compare-slider {
  width: 100%;
  bottom: 0;
  left: 0;
  height: 20px;
  position: absolute;
  margin: 0;
  padding: 0;
}