h1 {
  font-size: 24px;
  padding-left: 28px;
  background: url(/media/download.svg) center left no-repeat;
  background-size: 20px 20px;
}

h2 {
  font-size: 22px;
  margin: 16px 0;
}

div.divider {
  margin: 4px 0;
  border-bottom: 1px solid #ccc;
}

div.spacer {
  height: 16px;
}

#menu {
  right: 0;
}

table {
  border-spacing: 0;
}

tr:nth-child(2n) {
  background-color: rgba(127, 127, 255, .15);
}

td>a>img {
  padding-top: 2px;
}

.diagram {
  text-align: left;
  padding: 4px 16px 4px 8px;
}

th.download {
  text-align: center;
  padding: 0 8px;
}

td.download {
  text-align: center;
}

li {
  padding: 2px 0;
}