a.changes {
  cursor: pointer;
  background: url(/media/sprites.svg#changes) center left no-repeat;
  background-size: 16px 16px;
  padding-left: 22px;
  margin: 0 2px;
}

a.compare {
  cursor: pointer;
  background: url(/media/sprites.svg#compare) center left no-repeat;
  background-size: 16px 16px;
  padding-left: 22px;
  margin: 0 2px;
}

a.downloads {
  cursor: pointer;
  background: url(/media/sprites.svg#download) center left no-repeat;
  background-size: 16px 16px;
  padding-left: 22px;
  margin: 0 2px;
}

a.guide {
  cursor: pointer;
  background: url(/media/sprites.svg#guide) center left no-repeat;
  background-size: 16px 16px;
  padding-left: 22px;
  margin: 0 2px;
}

a.matrix {
  cursor: pointer;
  background: url(/media/sprites.svg#matrix) center left no-repeat;
  background-size: 16px 16px;
  padding-left: 22px;
  margin: 0 2px;
}

a.settings {
  cursor: pointer;
  background: url(/media/sprites.svg#cog) center left no-repeat;
  background-size: 16px 16px;
  padding-left: 22px;
  margin: 0 2px;
}

a.saved {
  cursor: pointer;
  background: url(/media/sprites.svg#save) center left no-repeat;
  background-size: 16px 16px;
  padding-left: 22px;
  margin: 0 2px;
}

body noscript {
  font-weight: bold;
  color: red;
  margin: 10px 0;
}

#flag-all {
  cursor: pointer;
  background: url(/media/sprites.svg#flagged) center left no-repeat;
  background-size: 16px 16px;
  padding-left: 20px;
  margin: 0;
}

#clear-all {
  cursor: pointer;
  background: url(/media/sprites.svg#unflagged) center left no-repeat;
  background-size: 16px 16px;
  padding-left: 20px;
  margin: 0;
}

#ie-warning {
  display: none;
  color: red;
  border: 1px solid #CCC;
  background-color: rgba(240, 192, 128, 0.25);
  padding: 12px 12px 0 12px;
  margin: 10px 0;
}

h1 {
  font-size: 30px;
  padding-left: 36px;
  background: url(/media/favicon.svg) center left no-repeat;
  background-size: 28px 28px;
  margin-bottom: 4px;
}

h2 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 12px;
}

#diagrams {
  display: grid;
  grid-auto-rows: min-content;
  grid-auto-columns: minmax(min-content, max-content) auto;
  grid-auto-flow: row;
  gap: 2px 10px;
  margin-bottom: 12px;
}

div.divider {
  grid-row: auto;
  grid-column: span 2;
  margin: 4px 0;
  border-top: 1px solid #CCC;
}

span.diagram-header {
  grid-row: auto;
  grid-column: 1;
  justify-self: start;
  margin: 2px 0;
  font-weight: bold;
}

div.diagram-set {
  grid-row: auto;
  grid-column: 2;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  gap: 4px 8px;
  margin: 0;
  padding: 0;
}

div.link-pair {
  padding: 0;
  margin: 0;
  width: 128px;
}

button.flag-button {
  background: transparent;
  border: none;
  border-radius: 0;
  margin: 2px 4px 0 0;
  padding: 0;
  width: 16px;
  height: 16px;
  min-width: min-content!important;
}

button.flagged {
  background: url(/media/sprites.svg#flagged) center left no-repeat;
  background-size: 16px 16px;
}

button.unflagged {
  background: url(/media/sprites.svg#unflagged) center left no-repeat;
  background-size: 16px 16px;
}

a.link-text {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  white-space: nowrap;
}

div.collection-footer {
  grid-row: auto;
  grid-column: 2;
}

#footer {
  list-style: none;
  padding-inline-start: 0;
}

#footer>li {
  margin-bottom: 8px;
}

/* Preview Images on Hover */

/* a.link-text img {
  position: absolute;
  display: none;
  z-index: 6;
}

a.link-text:hover img {
  display: block;
} */