h1 {
  font-size: 24px;
  padding-left: 28px;
  background: url(/media/cog.svg) center left no-repeat;
  background-size: 20px 20px;
}

div.settings-collection {
  display: grid;
  grid-auto-rows: min-content;
  grid-auto-columns: minmax(min-content, max-content) auto;
  grid-auto-flow: row;
  gap: 2px 16px;
  align-items: center;
}

div.divider {
  grid-row: auto;
  grid-column: span 2;
  margin: 4px 0;
  border-top: 1px solid #CCC;
}

h2 {
  /* IE11 Hack */
  float: left;
}

h2.settings-header {
  grid-row: auto;
  grid-column: 1;
  margin: 0;
  font-size: 18px;
  justify-self: start;
}

h2.highlight {
  background: url(/media/edit-off.svg) center left no-repeat;
  background-size: 18px 18px;
  padding-left: 24px;
}

h2.menu {
  background: url(/media/close.svg) center left no-repeat;
  background-size: 18px 18px;
  padding-left: 24px;
}

h2.theme {
  background: url(/media/theme.svg) center left no-repeat;
  background-size: 18px 18px;
  padding-left: 24px;
}

h2.zoom {
  background: url(/media/zoom.svg) center left no-repeat;
  background-size: 18px 18px;
  padding-left: 24px;
}

input.highlight {
  height: 20px;
  width: 114px;
}

select {
  height: 24px;
  width: 120px;
}

div.settings-values {
  grid-row: auto;
  grid-column: 2;
  margin: 0;
  padding: 0;
}

#menu {
  right: 0;
}