/* Print Styles */

@media print {
  #image-controls {
    visibility: hidden;
  }
}

/* Common Styles */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
}

body {
  text-align: center;
}

h1 {
  display: none;
}

svg {
  display: none;
}

.download-link {
  display: none;
}

/* Menu */

#menu {
  right: -500px;
  transition: 0.3s;
}

#menu>button {
  float: left;
  margin: 0 4px;
  border: 0;
  border-radius: 0;
  width: 16px;
  height: 16px;
  min-width: min-content!important;
  color: #0070F7;
  font-weight: normal;
}

#menu-grip {
  margin: 0 4px 0 0!important;
}

#menu-grip.open {
  background: url(/media/sprites.svg#open) center left no-repeat;
  background-size: 16px 16px;
}

#menu-grip.close {
  background: url(/media/sprites.svg#close) center left no-repeat;
  background-size: 16px 16px;
}

#menu-home {
  background: url(/media/sprites.svg#home) center left no-repeat;
  background-size: 16px 16px;
}

#menu-back {
  background: url(/media/sprites.svg#back) center left no-repeat;
  background-size: 16px 16px;
}

#menu-flag.flagged {
  background: url(/media/sprites.svg#flagged) center left no-repeat;
  background-size: 16px 16px;
}

#menu-flag.unflagged {
  background: url(/media/sprites.svg#unflagged) center left no-repeat;
  background-size: 16px 16px;
}

#menu-print {
  background: url(/media/sprites.svg#print) center left no-repeat;
  background-size: 16px 16px;
}

#menu-save {
  background: url(/media/sprites.svg#save) center left no-repeat;
  background-size: 16px 16px;
}

#menu-edit.on {
  background: url(/media/sprites.svg#edit-on) center left no-repeat;
  background-size: 16px 16px;
}

#menu-edit.off {
  background: url(/media/sprites.svg#edit-off) center left no-repeat;
  background-size: 16px 16px;
}

#menu-controls {
  background: url(/media/sprites.svg#controls) center left no-repeat;
  background-size: 16px 16px;
}

#menu-export-svg, #menu-export-png {
  background: url(/media/sprites.svg#export) center left no-repeat;
  background-size: 16px 16px;
  padding: 1px 2px 1px 18px;
  width: 50px!important;
  height: 16px;
}

#menu-download-pdf, #menu-download-png {
  background: url(/media/sprites.svg#download) center left no-repeat;
  background-size: 16px 16px;
  padding: 1px 2px 1px 18px;
  width: 50px!important;
  height: 16px;
}

/* Image Controls */

#image-controls {
  top: -300px;
  background: #CCC;
  padding: 8px;
  right: 0;
  border-bottom-left-radius: 8px;
  position: fixed;
  z-index: 1;
  line-height: 16px;
  transform: translateZ(0);
  transition: 0.5s;
  width: 220px;
  color: #0070F7;
}

#image-controls>label {
  float: left;
  line-height: 24px;
  margin: 2px;
}

#image-controls>input {
  float: right;
  clear: right;
  height: 24px;
}

#image-controls>button {
  margin-top: 8px;
  padding: 6px 8px 6px 34px;
  float: none;
}

#image-controls-reset {
  background-image: url(/media/sprites.svg#defaults);
  background-position: center left 8px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

#image-controls-save {
  background-image: url(/media/sprites.svg#save);
  background-position: center left 8px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}